<!--The content below is only a placeholder and can be replaced.-->



<h1> **** containing page *** </h1>

<!-- <h1 [unlessRole]="'roleA'"  roleList="['roleA','roleB','roleC']" roleSource="inline">Test unlessRole directive display if false</h1> -->


<h1 [unlessRole]="'roleA'"  roleList="roleA,roleB,roleC" roleSource="inline">Test unlessRole directive display if false</h1>


<hr>
<h1 *roleAccess="['xRoleA'];roleList:['RoleA','RoleB','RoleC'];roleSource:'inline'"  >Test roleAccess directive - display if true</h1>


<h1> **** containing page ****</h1>